@using QE.Models
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<style>
    #IndexPage {
        min-width: 1024px;
        min-height: 576px;
        background-color: #f2f2f2;
        opacity: 0.985;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        vertical-align: middle;
        padding: 250px;
    }

    #Notice {
        display: inline;
    }
</style>



<body>
    <div id="IndexPage">
        <label id="Notice">@Constant.CommonLabel.ServiceNA</label>
    </div>
</body>